@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fp-watermark {
  opacity: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  cursor: pointer;
  font-family: 'SUITE-Regular';
  background-color: #ffffffaf;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.topllogo {
  position: fixed;
  bottom: 20px;
  right: 65px;
  width: 50px;
  height: 50px;
  z-index: 10000;
}

* ::-webkit-scrollbar {
  width: 8px;
}

* ::-webkit-scrollbar-thumb {
  height: 1%;
  background: #ff5e00;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(92, 92, 92, 0.463);
}

/* Header-Topmenu_____________________________ */

/* 햄버거메뉴 */
#nav_icon {
  position: fixed;
  top: 20px;
  right: 65px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 100;
  border-radius: 50%;
  display: flex;
}

#nav_icon div {
  margin: 12px auto;
  position: relative;
  width: 30px;
  height: 20px;
}

#nav_icon div span {
  position: absolute;
  left: 5px;
  width: 80%;
  height: 2px;
  background-color: #000000;
  transition: all .3s ease-in-out;
}

#nav_icon div span:nth-child(1) {
  top: 0;
}

#nav_icon div span:nth-child(2) {
  top: 100%;
}

body.nav_active #nav_icon div span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;

}

body.nav_active #nav_icon div span:nth-child(2) {
  transform: rotate(-45deg);
  top: 50%;
}

/* 탑메뉴 */
nav {
  padding: 12px 30px;
  width: auto;
  border-radius: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  position: fixed;
  z-index: 2;
  top: 18px;
  right: 60px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(50px);
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-align: left;
  color: #000000;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 18px;
}

/* 탑메뉴의 현재위치 활성화 */
body.fp-viewing-Num0 nav ul li:nth-child(1) a,
body.fp-viewing-Num1 nav ul li:nth-child(2) a,
body.fp-viewing-Num2 nav ul li:nth-child(3) a,
body.fp-viewing-Num3 nav ul li:nth-child(4) a,
body.fp-viewing-Num4 nav ul li:nth-child(5) a,
body.fp-viewing-Num5 nav ul li:nth-child(6) a,
body.fp-viewing-Num6 nav ul li:nth-child(7) a {
  font-weight: bold;
  color: #ff7b00;
}

body.nav_active nav {
  opacity: 1;
  transform: translateX(0px);
}

.section.active h1.title {
  opacity: 1;
  transform: translateX(0%);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #ffffff;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 20px;
  width: 10px;
  margin: -6px 0 0 -6px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #ff7b00;
}

/* 메인시작페이지 */
#sec0 .inner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mainviewtop {
  display: flex;
}

.topbar {
  margin-top: 100px;
  width: 100%;
  height: 100px;
  background-color: #000;
  transition: 0.8s;
}

.marquee {
  border-bottom: 1px solid #000000;
  color: #fefefe;
  font-size: var(--step-0);
  height: calc(170px + 4rem);
  overflow: hidden;
  position: relative;
  width: 100vw;
}


.track {
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: background-color 300ms ease, color 300ms ease;
  white-space: nowrap;
}

.track .text {
  animation: marquee 50000ms linear infinite;
  align-items: center;
  display: inline-flex;
  will-change: transform;
}

.track .text.-twox {
  animation-duration: 40000ms;
  color: transparent;
}

.track:hover .-twox {
  color: #1A1F24;
}

.track:hover .-green {
  color: transparent;
}

.-green {
  color: #ff7b00;
  font-weight: 900;
}

.imgbox {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 400px;
  transition: 0.8s;
  background-color: #000;
  background-image: url('../image/sec2_7.jpg');
  overflow: hidden;
}

.portfolio {
  width: 70%;
  height: 400px;
  border: 0.5px solid #000;
  background-color: #fff;
  overflow: hidden;
}

.textbox {
  color: #ffffff;
  background-color: #ff7423;
  margin: 0 auto;
  border-radius: 350px 0 0 350px;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  transition: 0.5s;
}

.textbox:hover {
  transform: scale(1.3);
}

.textbox p {
  padding-top: 20px;
  font-size: 100px;
}

.textbox span {
  margin: 0 10px;
  display: inline-block;
  width: 150px;
  height: 60px;
  border: 6px solid #ffffff;
  border-radius: 30px;
}

.textani {
  display: flex;
  width: 100%;
  height: 350px;
  border: 1px solid #000;
}

.box1 {
  width: 35%;
  height: inherit;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.logo {
  width: 30%;
  height: inherit;
  background-color: #000;
}

.logo img {
  margin-left: 160px;
  margin-top: 50px;
  width: 150px;
  height: auto;
}

/* about */

#sec1 .inner {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.iconcoon img {
  width: 40px;
  margin: 10px;
  border-radius: 5px;
}

.iconcoon img:last-child {
  width: 70px;
  margin: 10px 0;
}

.about {
  background-image: url(../image/사원증1.png);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 150px;
  left: 200px;
  width: 420px;
  height: 700px;
  margin-left: 200px;
  flex: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#sec1 .inner h1 {
  padding-top: 80px;
  padding-left: 500px;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.about h3 {
  margin-top: 70px;
  margin-left: 140px;
  font-size: 30px;
  color: rgb(2, 2, 2);
}

.content,
.education,
.ce {
  width: 500px;
}


.content img {
  margin-top: 20px;
  margin-left: 100px;
  /*   border-radius: 50%; */
  background-color: #fff;
}


.education p,
.cer p {
  padding: 10px;
  color: #ebebeb;
}

.content p {
  margin-top: 15px;
  width: 420px;
  color: #474747;
  font-weight: bold;
  text-align: center;
}

.content p:nth-of-type(1) {
  margin-top: 40px;
}

.content span {
  padding: 10px;
  font-weight: normal;
}

.education span,
.cer span {
  color: #969696;
  padding: 10px;
}

.education h3,
.ce h3 {
  color: #ff7423;
}

.education span:nth-of-type(2) {
  padding-left: 80px;
}

/* 스킬 */
.skills {
  margin-left: 10px;
  padding-top: 200px;
  padding-left: 250px;
  width: 40%;
  height: 100vh;
  flex: 1;
  background-color: #000;
  color: #fff;
}

.gage_wrap {
  display: flex;
  width: 500px;
}

.gage_wrap ul:nth-child(2) li {
  margin: 20px;
  width: 25%;
  text-align: center;
}

.gage_wrap ul li .gage {
  width: 300px;
  height: 10px;
  background-color: hsla(0, 0%, 90%, 0.128);
  margin: auto;
  position: relative;
  padding: 5px;
}

.gage_wrap ul li .gage .gage_in {

  margin: 2px 0;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 5px;
  background-color: #ff5e00;
  ;
}

.gage_tit {
  text-align: right;
  color: #fff;
  margin: 8px 0;
}

.gage_tit span {
  padding-left: 10px;
  font-size: 14px;
  color: #ff5e00;
}

:root {
  --step--2: clamp(3.13rem, 2.62rem + 2.51vw, 5.76rem);
  --step--1: clamp(3.75rem, 3.09rem + 3.29vw, 7.20rem);
  --step-0: clamp(4.50rem, 3.64rem + 4.29vw, 9.00rem);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* sec2====================== */
#sec2 {
  position: relative;
}

#sec2 .inner {
  width: 100%;
  height: 100vh;
}

.had1 h1 {
  border: 0.1px solid #000;
  width: 100%;
  height: 200px;
  padding-top: 80px;
  text-align: center;
  letter-spacing: 20px;
}

.tabmunu {
  width: 1500px;
  height: 100px;
  margin: 0 auto;
}

.tabContents {
  width: 1500px;
  height: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  transition: 0.5s;
}

.tabContents .tebbtn {
  display: none;
}

.tabContents .tebbtn.active {
  display: block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn li {
  cursor: pointer;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  flex: 1;
  height: 100px;
  background: #fff;
  border: 0.5px solid #000;
  border-top: transparent;
}

.btn li:nth-child(2) {
  border-left: none;
}

.btn li.active {
  background-color: #ff5e00;
  color: #fff;
}

/* tab1=====================================*/
.item_list {
  width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
}

.item_list li {
  float: left;
  width: 300px;
  height: 300px;
  border-left: 0.3px solid #000000;
  border-bottom: 0.3px solid #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: rgba(0, 0, 0, 0);
}

.item_list li:nth-child(1) {
  background-image: url(../image/sec2_0.jpg);
  height: 600px;
}

.item_list li:nth-child(2) {
  background-image: url(../image/sec2_1.jpg);
}

.item_list li:nth-child(3) {
  background-image: url(../image/sec2_2.jpg);
}

.item_list li:nth-child(4) {
  background-image: url(../image/sec2_3.jpg);
}

.item_list li:nth-child(5) {
  background-image: url(../image/sec2_4.jpg);
  border-right: 0.5px solid #000;
}

.item_list li:nth-child(6) {
  background-image: url(../image/sec2_5.jpg);
}

.item_list li:nth-child(7) {
  background-image: url(../image/sec2_6.jpg);
}

.item_list li:nth-child(8) {
  background-image: url(../image/sec2_7.jpg);
}

.item_list li:nth-child(9) {
  background-image: url(../image/sec2_8.jpg);
  border-right: 0.5px solid #000;
}

.item_list>li:before {
  opacity: 0;
  overflow: hidden;
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transition: 0.5s;
}


.item_list>li:hover:before {
  opacity: 1;
}

.item_list li p {
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 30%;
  text-align: center;
  font-size: 15px;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.item_list li:hover p {
  opacity: 1;
}

/*tab2======================== */
.item_list2 li:nth-child(1) {
  background-image: url(../image/sec_ux_01.jpg);
  height: 600px;
}

.item_list2 li:nth-child(2) {
  background-image: url(../image/sec_ux_05.jpg);
  height: 600px;
}

.item_list2 li:nth-child(3) {
  background-image: url(../image/sec_ux_03.jpg);
}

.item_list2 li:nth-child(4) {
  background-image: url(../image/sec_ux_04.jpg);
}

.item_list2 li:nth-child(5) {
  background-image: url(../image/sec_ux_02.jpg);
  border-right: 0.3px solid #000000;
}

.item_list2 li:nth-child(6) {
  background-image: url(../image/sec_ux_06.jpg);
}

.item_list2 li:nth-child(7) {
  background-image: url(../image/sec_ux_07.jpg);
}

.item_list2 li:nth-child(8) {
  background-image: url(../image/sec_ux_08.jpg);
  border-right: 0.3px solid #000000;
}

.item_list2 {
  width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
}

.item_list2 li {
  float: left;
  width: 300px;
  height: 300px;
  border-left: 0.3px solid #000000;
  border-bottom: 0.3px solid #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: rgba(0, 0, 0, 0);
}

.item_list2>li:before {
  opacity: 0;
  overflow: hidden;
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.item_list2>li:hover:before {
  opacity: 1;
}

.item_list2 li p {
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 30%;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  opacity: 0;
  transition: 0.5s;
}

.item_list2 li:nth-child(1) p {
  margin-left: 5px;
}

.item_list2 li:nth-child(5) p {
  margin-right: 10px;
}

.item_list2 li:hover p {
  opacity: 1;
}

.item_list2 li span {
  font-weight: lighter;
  color: #ecececd7;
  font-size: 11px;
}

/* 모달 */
#popup {
  /*검정배경*/
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.897);
  z-index: 1000;
  overflow-y: scroll;
  /*auto로 하면 스크롤바의 폭때문에 콘텐츠와 버튼사이의 간격이 생김->버튼위치맞춤*/
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/
.pop_body {
  /*팝업내용박스*/
  /*   display: none; */
  position: relative;
  height: 100vh;
  margin: 0 auto;
  width: 1200px;
  background: #fff;
  z-index: 10000;
}

.pop>li {
  width: 1200px;
  position: absolute;
  display: none;
}

/*버튼영역*/
.m_btn {
  float: right;
  position: fixed;
  display: block;
  width: 80px;
  height: 150px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  z-index: 10000;
}

.m_btn>li {
  cursor: pointer;
  overflow: hidden;
  background: #000000;
}

.m_btn>li:hover {
  background: #ff5e00;
}

/*닫기버튼*/
.m_btn .btn_close {
  height: 70px;
  width: 80px;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}

.m_btn .btn_close i {
  /*아이콘폰트*/
  position: relative;
  top: 15px;
  font-size: 40px;
}

/*다음이전 버튼*/
.m_btn .left_btn,
.m_btn .right_btn {
  float: left;
}

.m_btn .left_btn i,
.m_btn .right_btn i {
  position: relative;
  top: 10px;
  font-size: 30px;
  width: 40px;
  height: 50px;
}

.m_btn .g_page {
  /*Page번호*/
  font-size: 12px;
  color: #fff;
  width: 80px;
  padding-top: 10px;
  height: 50px;
  text-align: center;
}

/* tab2 모달 */
#popup2 {
  /*검정배경*/
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.897);
  z-index: 1000;
  overflow-y: scroll;
  /*auto로 하면 스크롤바의 폭때문에 콘텐츠와 버튼사이의 간격이 생김->버튼위치맞춤*/
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/
.pop_body2 {
  /*팝업내용박스*/
  /*   display: none; */
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 1200px;
  z-index: 10000;
}

.pop2>li {
  width: 1200px;
  position: absolute;
  display: none;
}

/*버튼영역*/
.m_btn2 {
  float: right;
  position: fixed;
  display: block;
  width: 80px;
  height: 150px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  z-index: 10000;
}

.m_btn2>li {
  cursor: pointer;
  overflow: hidden;
  background: #000000;
}

.m_btn2>li:hover {
  background: #ff5e00;
}

/*닫기버튼*/
.m_btn2 .btn_close2 {
  height: 70px;
  width: 80px;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}

.m_btn2 .btn_close2 i {
  /*아이콘폰트*/
  position: relative;
  top: 15px;
  font-size: 40px;
}

/*다음이전 버튼*/

.m_btn2 .left_btn2,
.m_btn2 .right_btn2 {
  float: left;
}

.m_btn2 .left_btn2 i,
.m_btn2 .right_btn2 i {
  position: relative;
  top: 10px;
  font-size: 30px;
  width: 40px;
  height: 50px;
}

.m_btn2 .page {
  /*Page번호*/
  font-size: 12px;
  color: #fff;
  width: 80px;
  padding-top: 10px;
  height: 50px;
  text-align: center;
}

.item_list2 li i,
.item_list li i {
  color: #ff9100;
}

/* sec3----------------------------------- */
#sec3 {
  width: 100%;
  height: 100vh;
  background-image: url('../image/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #111;
  position: relative;

}

.had3 {
  width: 100%;

  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff38;
  color: #ffffff;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.swiper-container {
  width: 100%;
  height: 800px;
}

.swiper-slide {
  margin: 30px;
  width: 600px;
  height: 700px;
  background: rgb(247, 247, 247);
  border: 1px solid #ffffff0e;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.5s;
  border: 1px solid #ffffff;
}


.swiper-slide:hover {
  transform: scale(0.95);
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
}

.swiper-slide:hover span {
  opacity: 1;
}

.contimgbox {
  margin: 10px;
  width: 98%;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #00000027;
}

/* -------------------- */
.contimgbox img {
  width: 100%;
}

.swiper-slide p {
  margin-left: 30px;
  font-size: 35px;
}

.swiper-slide p span:nth-child(1) {
  font-size: 18px;
  color: #ff5e00;
  font-weight: bold;
}

.swiper-slide p span {
  font-size: 15px;
  color: #5f5f5f;
}

.swiper-slide p span:last-child {
  text-align: right;
  font-size: 20px;
  color: #ff5e00;
  position: absolute;
  top: 35%;
  left: 35%;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid #0000008e;
}

.swiper-slide p span:last-child:hover {
  color: #fff;
  background-color: #ff5e00;
}

.swiper-pagination-bullet-active {
  width: 60px;
  border-radius: 10px;
  background-color: #ff5e00;
}

/* ------------------------------- */
/* sec4================================ */
#sec4 {
  width: 100%;
  height: 100vh;
}

.title {
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
  padding-top: 30px;
}


.content4 {
  display: flex;
}

.retextbox {
  flex: 1;
}

.reveiwbox {
  flex: 2;
  margin: 20px;
  margin-right: 0;
  border-radius: 10px 0 0 10px;
  width: 100%;
  background-color: rgb(255, 124, 2);
}

.cont4text {
  width: 95%;
  height: 400px;
  margin: 200px auto;
  padding-left: 100px;
}

.cont4text h2 {
  color: #ff5e00;
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
}

.cont4text p {
  font-size: 20px;
  padding-top: 30px;
  line-height: 40px;
  font-weight: bold;
}

.cont4text .subtitle {
  font-size: 15px;
  padding-right: 20px;
  color: #919191;
}

.moreniew2,
.moreniew,
.pcview {
  border: 1px solid #000;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  width: 300px;
  height: 50px;
  margin: 20px;
}

.motabtn {
  text-align: center;
  line-height: 50px;
  display: flex;
  margin: 20px;
  font-weight: bold;
}

.tabview,
.moview {
  border: 1px solid #000;
  width: 150px;
  height: 50px;
}

.tabview {
  border-right: none;
}

.moreniew2:hover,
.moreniew:hover,
.pcview:hover,
.tabview:hover,
.moview:hover {
  background-color: #ff5e00;
  color: #fff;
}

.pop3,
.pop4 {
  /*검정배경*/
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.897);
  z-index: 1000;
}

.mockup,
.mockup2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.mmo_close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  color: #fff;
}

.mmo_close i {
  font-size: 50px;
}

.allmok {
  position: relative;
  overflow: hidden;
  width: 980px;
  height: 608px;
  margin: 80px auto;

}

.allmok img {
  position: absolute;
  margin: 0;
  z-index: 100;
}

.pcviewpage {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 690px;
  height: 400px;
  background-image: url(../image/반응형pc.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.tbviewpage {
  position: absolute;
  top: 280px;
  right: 97px;
  width: 407px;
  height: 302px;
  background-image: url(../image/tableview.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 1;
}

.moviewpage {
  position: absolute;
  top: 355px;
  right: 29px;
  width: 115px;
  height: 235px;
  border-radius: 10px;
  background-image: url(../image/moblieview.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 1;
}


/* sec5-------------------------------------------*/
#sec5 {
  width: 100%;
  height: 100vh;
}

.hdt5 {
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
  padding-top: 30px;
  border-bottom: 1px solid #969696;
}


#sec5 .inner {
  height: 100vh;
  display: flex;
}

.mob_text {
  background-color: #fff;
}

.mobilenview {
  flex: 2;
  padding: 0 20px;
  margin: 20px;
  margin-right: 0;
  border-radius: 50px 0 0 50px;
  width: 100%;
  background-color: #f1f1f1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 20px;
}

.fullviews {
  display: flex;
}

.mobilenview h1 {
  margin-top: 50px;
  padding-left: 50PX;
  flex-direction: column;
}

.mo_Mockup {
  width: 365px;
  margin: 50px auto;
  height: 650px;
  position: relative;
  overflow: hidden;
}

.mcover {
  width: 365px;
  height: 650px;
  overflow: hidden;
}

.viewimg {
  transition: background-position 1s;
  position: absolute;
  border-radius: 60px;
  top: 10px;
  left: 13px;
  width: 334px;
  height: 630px;
  margin-top: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../image/mo_fullpage.jpg');
}

.bg2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../image/mo_fullpage2.jpg');
}

.bg3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../image/mo_fullpage3.jpg');
}


.mow {
  margin: 30px;
  width: 375px;
  height: 812px;
  border-radius: 30px;
  border: 1px solid #000;
  background-color: #fff;
}


.M_textbox {
  border: 1px solid rgba(92, 92, 92, 0.1);
  ;
  flex: 1;
  width: 95%;
  height: auto;
  padding: 200px 0;
  padding-left: 60px;
}

.M_textbox h2 {
  color: #ff5e00;
  font-size: 40px;
  font-weight: bold;
  margin-top: 300px;
}

.M_textbox .p {
  font-size: 20px;
  padding-top: 30px;
  line-height: 40px;
  font-weight: bold;
}

.M_textbox .subtitle {
  font-size: 15px;
  padding-right: 20px;
  color: #919191;
}

.moreniew2,
.moreniew,
.pcview {
  border: 1px solid #000;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  width: 300px;
  height: 50px;
  margin: 20px;
}

.gage_wrap2 {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 90%, 0.128);
  position: relative;
  padding: 5px;
}

.gage_wrap2 .gage2 .gage_in2 {
  margin: 2px 0;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  width: 0%;
  height: 45px;
  background-color: #ff5e00;
  ;
}

.gage_wrap2 p {
  color: #fff;
  position: absolute;
  top: -25px;
  left: 0px;
  z-index: 10;
  opacity: 0;
}

/* sec3 sub popup page--------------------------------- */
.webpop1,
.webpop2,
.webpop3,
.webpop4 {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  overflow-y: scroll;
}

.pop_close2 {
  position: fixed;
  margin: 20px;
  left: 80px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  color: #bdbdbd;
  z-index: 10000;
}

.pop_close2:hover {
  color: #ff5e00;
}



.webpoppage1 {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  z-index: 10000;
}

.webmain {
  width: 100%;
  height: 100vh;
  background-image: url('../image/webpagebg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
}

.wtextbox {
  background-color: #0000009c;
  flex: 1;
  padding-top: 50px;
}

.wimagebox {
  flex: 2;
}

.wimagebox img {
  width: 1200px;
  margin-top: 200px;
  margin-left: 100px;
  animation: ani1 3s infinite;
}

@keyframes ani1 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0);
  }
}

.wtall a {
  background: transparent;
  border: 1px solid #ffffff;
  color: #fff;
  font-size: 18px;
  background-color: #f1f1f12a;
  border-radius: 5px;
  padding:8px 30px;
}

.wtall a span {
  font-size: 20px;
}

.wtall a:hover {
  color: #ff5e00;
}

.wtall {
  margin-top: 100px;
  margin-left: 100px;
}

.wtextbox h2 {
  color: #ff5e00;
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
}

.wtextbox p.Ktext {
  color: #d4d4d4;
  font-size: 17px;
  margin-top: 60px;
}

.wtextbox p {
  font-size: 20px;
  padding-top: 30px;
  line-height: 40px;
  color: #fff;
}

.wtextbox .subtitle {
  font-size: 15px;
  padding-right: 20px;
  color: #c9c9c9;
}

small {
  font-size: 15px;
  color: #888888;
}


/* 마우스 애니메이션 */
.mouseBox {
  position: absolute;
  left: 50%;
  bottom: 50px;
}

.mouse {
  border: 3px solid #ffffff;
  width: 30px;
  height: 60px;
  border-radius: 30px;
  position: relative;
}

.mouse span {
  border: 3px solid #ffffff;
  border-radius: 10px;
  position: absolute;
  margin-top: 10px;
  height: 15px;
  left: 10px;
  animation: mscrol 1.5s infinite;
}

.webpop1 .arrows_down {
color:#fff;
}
.arrows_down {
  margin: 10px 2px;
}

.arrows_down span {
  margin-top: -10px;
  font-weight: bold;
  display: flex;
  animation: loading 1s infinite;
}

.arrows_down .arrow1 {
  animation-delay: 0s;
}

.arrows_down .arrow2 {
  animation-delay: 0.3s;
}

.arrows_down .arrow3 {
  animation-delay: 0.5s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes mscrol {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(18px);
    opacity: 0;
  }
}

.section1 {
  background-color: #e0e0e0;
  width: 100%;
  height: 600px;
}

.sectext ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectext h2 {
  font-size: 50px;
  padding: 80px 0 0 100px;
  color: #00102c;
}

.sectext li {
  margin: 20px 80px;
  width: 500px;
  height: 400px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  color: #2b2b2b;
  text-align: left;

}

.sectext li p {
  margin: 40px 0 0 40px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.sectext li span {
  padding: 40px;
  text-align: left;
  font-size: 15px;
}

.sectext li img {
  margin: 50px 100px;
}

.sectext li:nth-of-type(2) img {
  margin: 50px 50px;
}

.section2 {
  width: 100%;
  height: auto;
  background-image: url('../image/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.aboutpage {
  display: flex;
}

.abouttext {
  text-align: right;
  color: #222;
  flex: 1;
  padding: 150px 0;
}

.abouttext h1 {
  margin-top: 60px;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 30px;
}

.abouttext p {
  line-height: 30px;
  font-size: 18px;
}

.aboutpage img {
  flex: 1;
  width: 500px;
  margin: 150px;
  border: 10px solid #ececec;
  border-radius: 10px;
}

.section3 {
  width: 100%;
  height: 500px;
  background-color: #00102c;
  color: #fff;
}

.section3 P {
  text-align: center;
  padding-top: 150px;
  line-height: 50px;
}

.aboutpage:nth-of-type(2) .abouttext {
  text-align: left;
}

.webpop2 .webmain {
  width: 100%;
  height: 100vh;
  background-image: url('../image/mainvew-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
}

.webpop2 .arrows_down {
  color: #000;
}

.webpop2 .mouse {
  border: 3px solid #000000;
  width: 30px;
  height: 60px;
  border-radius: 30px;
  position: relative;
}

.webpop2 .mouse span {
  border: 3px solid #000000;
  border-radius: 10px;
  position: absolute;
  margin-top: 10px;
  height: 15px;
  left: 10px;
  animation: mscrol 1.5s infinite;
}

.webpop2 .wtextbox {
  background-color: #00072cd2;
  flex: 1;
}

.webpop2 .section1 {
  background-color: #f3f3f3;
}

.webpop2 .sectext h2 {
  color: #00072cd2;
}


.webpop2 .sectext li {
  width: 500px;
  height: 400px;
  border-radius: 50px;
  background: #00072cd2;
  box-shadow: 20px 20px 60px #00072c79;
  color: #fff;
  text-align: center
}

.webpop2 .sectext li p {
  margin: 80px 0;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.webpop2 .sectext span {
  font-size: 20px;
  padding: 0;
  font-weight: normal;
}

.webpop2 .aboutpage:nth-of-type(1) img {
  width: 800px;
  border: 1px solid #000;
}

.webpop2 .aboutpage:nth-of-type(2) img {
  margin-top: 300px;
  width: 800px;
  height: 500px;
  border: 1px solid #000;
}

.webpop2 .abouttext h1 {
  color: #72a6e9;
}


.webpop2 .section2 {
  width: 100%;
  height: auto;
  background-image: url('../image/bg4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.webpop2 .aboutpage:nth-of-type(3) img {
  display: block;
  border: 1px solid #000;
  margin: 50px 200px;
  width: 700px;
}

/* 3--------------------------- */


.webpop3 .webmain {
  width: 100%;
  height: 100vh;
  background-image: url('../image/bg10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
}

.webpop3 .arrows_down {
  color: #000;
}

.webpop3 .mouse {
  border: 3px solid #000000;
  width: 30px;
  height: 60px;
  border-radius: 30px;
  position: relative;
}

.webpop3 .mouse span {
  border: 3px solid #000000;
  border-radius: 10px;
  position: absolute;
  margin-top: 10px;
  height: 15px;
  left: 10px;
  animation: mscrol 1.5s infinite;
}

.webpop3 .wtextbox {
  background-color: #0f0f0ff5;
  flex: 1;
}

.webpop3 .section1 {
  background-color: #f3f3f3;
}

.webpop3 .sectext h2 {
  color: #ff4800d2;
}


.webpop3 .sectext li {
  width: 500px;
  height: 400px;
  border-radius: 50px;
  background: #7d7e81d2;
  box-shadow: 20px 20px 60px #b3b3b379;
  color: #fff;
  text-align: center
}

.webpop3 .sectext li p {
  margin: 30px 0;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.webpop3 .sectext span {
  font-size: 18px;
  padding: 0;
  line-height: 30px;
  font-weight: normal;
}

.webpop3 .sectext img {
  width: 300px;
  margin: 0;
}

.webpop3 .iconbox {
  display: block;
  flex: 1;
}

.webpop3 .iconbox img {
  border: 1px solid #000;
  margin: 50px;
  width: 800px;
}

.webpop3 .section2 {
  width: 100%;
  height: auto;
  background-image: url('../image/bg11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.abouttext h1 {
  color: #948787;
}

.aboutpage img {
  border: 1px solid #000;
  width: 900px;
}

.aboutpage:nth-of-type(4) .abouttext {
  text-align: left;
}

/*6====================================================== */
#sec6 .inner {
  width: 100%;
  height: 100vh;
  color: #111;
  background-color: #ebebeb;
  overflow: hidden;
  text-align: center;
  position: relative;
}

#sec6 .inner h1 {
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
  padding: 50px;
}

.bbtn {
  display: flex;
  justify-content: center;
}

.bbtn li {
  margin: 0 50px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  color: #111;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.bbtn li.active {
  /*현재 선택된 탭메뉴*/
  background: #ff5e00;
  color: #ffffff;
  font-weight: 500;
}

.panel {
  padding-left: 100px;
  padding-top: 20px;
  color: #111;
  font-size: 14px;
  line-height: 25px;
}

.panel>li {
  display: none;
}

.panel>li.active {
  display: block;
}

.gallery {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  position: relative;
  display: flex;

}

.gallery ul {
  margin-right: 50px;
}

.largeImg {
  background-image: url('../image/bg7.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 1200px;
  height: 690px;
}

.largeImg li {
  display: none;
  position: absolute;
  top: 60px;
  left: 145px;
  width: 1195px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.largeImg li:nth-of-type(2) {
  overflow-y: hidden;
  overflow-x: scroll;
}

.gallery2 .largeImg li:nth-of-type(2) {
  overflow-y: hidden;
  overflow-x: hidden;
}

.largeImg li:first-child {
  display: block;
}

.thumbs {
  margin-top: 30px;
  top: 0;
  left: 0;
}

.thumbs li {
  opacity: 0.6;
}

.thumbs li:first-child {
  opacity: 1;
}

.thumbs li a img {
  width: 90px;
  height: 80px;
}

.panel .content {
  text-align: left;
  margin-top: 100px;
}

.panel h4 {
  font-size: 24px;
  color: #826b51;
  font-weight: 400;
}

.panel h4 span {
  display: block;
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px
}

.panel p {
  font-size: 18px;
  margin-top: 60px;
  line-height: 30px;
  color: #928676
}

.panel .btn {
  float: right;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #9f8771;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
}

.conbox,
.conboxa {
  margin-top: 50px;
  border-radius: 50px;
  border: 2px solid #000;
  width: 300px;
  height: 600px;
  overflow: hidden;
  position: relative;
  color: #000;
}

.conewimg {
  width: 300px;
}

.conbox::before {
  content: '';
  background-color: #000000b7;
  width: 300px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.stebtn,
.stebtn2 {
  position: absolute;
  top: 40%;
  left: 80px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  background-color: #ffffff;
  opacity: 0;
  transition: 0.5s;
}

.conbox:hover::before {
  opacity: 1;
}

.conbox:hover p {
  opacity: 1;
}

.ossitebox {
  position: absolute;
  top: 0;
  /*   display: none; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.ossitebox img {
  width: 100%;
}

/* 반응형 페이지 뷰 모달 */


.webpop4 .webmain {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-image: url('../image/mainvewbg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
}

.webpop4 .wtall h2 {
  color: #ff61eaf5;

}

.webpop4 .arrows_down {
  color: #000;
}

.webpop4 .mouse {
  border: 3px solid #000000;
  width: 30px;
  height: 60px;
  border-radius: 30px;
  position: relative;
}

.webpop4 .mouse span {
  color: #000;
  border: 3px solid #000000;
  border-radius: 10px;
  position: absolute;
  margin-top: 10px;
  height: 15px;
  left: 10px;
  animation: mscrol 1.5s infinite;
}

.webpop4 .wtextbox {
  background-color: #202020;
  flex: 1;
}

.webpop4 .section1 {
  background-color: #fff;
}

.webpop4 .sectext h2 {
  color: #331488d2;
}

.webpop4 .aboutpage:nth-child(1) {
  display: block;
}

.webpop4 .abouttext:nth-child(1) {
  text-align: center;
}

.webpop4 .sectext li {
  width: 500px;
  height: 400px;
  border-radius: 50px;
  background: #331488d2;
  box-shadow: 20px 20px 60px #d1d1d179;
  color: #fff;
  text-align: center
}

.webpop4 .sectext li p {
  margin: 30px 0;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.logoboxx {
  display: flex;
  justify-content: center;
}

.webpop4 .sectext img {
  margin: 10px;
}

.webpop4 .sectext span {
  font-size: 18px;
  padding: 0;
  line-height: 30px;
  font-weight: normal;
}

.iconbox {
  display: flex;
}

.webpop4 .iconbox img {
  border: 1px solid #000;
  width: 400px;
  height: 200px;
}

.webpop4 .section2 {
  width: 100%;
  height: auto;
  background-image: url('../image/bg12.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.abouttext h1 {
  color: #2360d1;
}

.webpop4 .aboutpage:nth-child(3) .abouttext {
  text-align: left;
  text-transform: uppercase;
}

.webpop4 .aboutpage:nth-child(3) img {
  border: transparent;
}

.webpop5 {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  overflow-y: scroll;
}

.webpop5 .webmain {
  background-image: url('../image/Mockup1112.jpg');
}

.webpop5 .iconbox {
  flex-direction: column;
  margin: 0;
}

.webpop5 .iconbox img {
  margin: 10px 50px;
}

.mmo_iamgebox {
  display: flex;
}

.webpop5 .aboutpage:nth-of-type(4) {
  display: block;
  text-align: center;

}

.webpop5 .aboutpage:nth-of-type(4) .abouttext {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

.webpop5 .aboutpage:nth-of-type(4) .abouttext>div {
  margin: 0 50px;
}

.webpop5 .aboutpage:nth-of-type(4) img {
  margin: 50px;
  border: transparent;
}

.webpop5 .aboutpage:nth-of-type(4) h1 {
  color: #2360d1;
  font-size: 42px;
}
.webpop5 .mouse {
  border: 3px solid #000000;
}

.webpop5 .mouse span {
  border: 3px solid #000000;
}






/* 모달 */

.closed {
  height: 50px;
  border-radius: 15px;
  border: none;
  width: 200px;
  color: white;
  background-color: #ff5e00;
  cursor: pointer;
  font-size: 1rem;
}

.closed:hover {
  background-color: #000000;
}

.ppop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0000009a;
}

.modals{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:250px auto;
  max-width: 50%;
  row-gap: 15px;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-radius: 7px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.815);
}


